// SITE-HEADER
.site-header {
  background-color: #fff;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

// LOGO

.logo__a {
  // margin-bottom: 5px;
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 18px;
}

.logo__img {
  display: block;
}

// NAVBAR

.navbar__list {
  @include reset-list;
  display: flex;
}

.navbar__item ~ .navbar__item {
  margin-left: 30px;
}

.navbar__a {
  color: $color-text;
  @include reset-link;
  border-bottom: 4px solid transparent;
  padding-top: 32px;
  padding-bottom: 32px;
  
}

.navbar__a:hover {
  @include link-hover;
}

.navbar__a:active {
  @include link-active
}



// BUTTON

.site-btn {
  padding-top: 18px;
  padding-bottom: 18px;
  @include site-button;
}

.header__hamburger-btn {
  display: none;
  border: none;
  background-color: transparent;
}

.header__hamburger-img {
  display: block;
  width: 24px;
  height: 11px;
}

// RESPONSIVE 


@include breakpoint-down (725px) {
  
  .header__btn {
    display: none;
  }
}

@include breakpoint-down (570px) {

  .header__nav {
    display: none;
  }

  .header__hamburger-btn {
    display: inline-block;
  }

  .header__hamburger-img {
    display: block;
    margin-bottom: 6px;
  }

  // .header__nav--js {
  //   display: block;
  // }  

  .header__nav {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #2d314d 0%, rgba(45, 49, 77, 0.0001) 100%);
  }

  .navbar__list {
    border-radius: 4px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%);
    flex-direction: column;
    background-color: #fff;
  }

  .navbar__item ~ .navbar__item {
    margin-left: 0px;
  } 

  .navbar__item:first-child {
    margin-top: 32px;
  }

  .navbar__a {
    padding: 0;
    margin-bottom: 24px;
  }
}
